.bandera{
  display: block;
  margin: 0px 10px;
  height: 20vh;
  width: 25%;
}

.amarillo{
  background-color: yellow;
  color: black;
}

.gris{
  background-color: gray;
  color:white;
}
#texto-mayusculas{
  text-transform: uppercase;
}
